@import "tailwindcss";

@theme {
  --color-tomato: #EE4848;
  --color-leaf: #00AE82;
  --color-onyx: #0f0f0f;
  --color-whiteish: #E3E3E3;
  --font-russo: "Russo One", sans-serif; 
}

@font-face {
  font-family: 'Russo One';
  src: url(/fonts/RussoOne-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark {
  transition: background-color 0.5s ease, color 0.5s ease;
}
